{{ form_label(form.name, 'Username', {'label_attr': {'class': 'block font-medium text-[#708090] tracking-wide mb-0.5'}}) }}
{{ form_widget(form.name, {'attr': {'class': 'block w-full text-slate-200 rounded-md border-2 border-[#708090] bg-gradient-to-r from-indigo-700 to-indigo-400 outline-none shadow-[4px_4px_8px_1px_#708090] focus:border-slate-300 focus:shadow-[4px_4px_8px_1px_#cbd5e1] hover:border-slate-400 hover:shadow-[4px_4px_8px_1px_#94a3b8] p-2 mt-1 mb-2'}}) }}
{{ form_errors(form.name) }}
<div class="text-sm font-medium">(*Your username must be at least 3 characters)</div>
