<!--Vertically centered modal-->
<div
  data-te-modal-init
  class="fixed left-0 top-0 z-[1055] hidden h-full w-full overflow-y-auto overflow-x-hidden outline-none"
  id="deleteTop10Modal"
  tabindex="-1"
  aria-labelledby="deleteModalTitle"
  aria-modal="true"
  role="dialog">
  <div
    data-te-modal-dialog-ref
    class="pointer-events-none relative flex min-h-[calc(100%-1rem)] w-auto translate-y-[-50px] items-center opacity-0 transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:mt-7 min-[576px]:min-h-[calc(100%-3.5rem)] min-[576px]:max-w-[500px]">
    <div
      class="pointer-events-auto relative flex w-full flex-col rounded-md border-none bg-[#708090] text-current shadow-lg outline-none">

      <!--Modal body-->
      <div class="relative p-4">
        <div class="text-[#031e49] mb-2">Are you sure you want to delete your TOP 10 list?</div>
        <div class="flex justify-end">
            <button
                type="button"
                class="font-medium text-xs text-slate-300 uppercase leading-normal bg-slate-900 px-3 py-1 rounded shadow-lg shadow-slate-900/50 hover:bg-slate-800 hover:shadow-md shadow-slate-800/50"
                data-te-modal-dismiss>
                No
            </button>
            <a href="{{ path('app_delete_top_ten') }}">
                <button
                    type="button"
                    class="font-bold text-xs text-indigo-700 uppercase leading-normal ml-2 px-3 py-1 rounded border-2 border-[#031e49] shadow-lg shadow-indigo-500/50 hover:text-slate-300 hover:bg-gradient-to-r from-indigo-600 hover:shadow-lg hover:shadow-slate-900/75">
                    Yes
                </button>
            </a>
        </div>
      </div>

    </div>
  </div>
</div>