<div class="flex justify-center">
    <div class="text-xl mb-2">TOP 10 MOVIES</div>
</div>    

<div class="flex justify-center mt-2 mb-1">
    {{ include('favourites/_movies_nav_btns.html.twig') }}
</div>