<div class="flex justify-center">
    <div class="text-xl text-slate-200 mb-2">TOP 5 TV SERIES</div>        
</div> 

<div class="flex justify-center mt-2 mb-1">
    {{ include('favourites/_series_nav_btns.html.twig') }}
</div>