{% extends 'base.html.twig' %}

{% block title %}MFC Registration{% endblock %}

{% block body %}
    <div class="text-center text-slate-400 w-full md:w-1/2 p-2 mt-10 mx-auto rounded border-2 border-indigo-500/75">
        <p>Thank you for registering on the website!</p>
        <p>An activation link has been sent to the provided address!</p>
        <p>Confirm your email and log in to your account!</p>
    </div>
{% endblock %}