{% extends 'base.html.twig' %}

{% block title %}Error!{% endblock %}

{% block body %}

    <div class="text-center text-slate-400 w-1/2 p-2 mt-10 mx-auto rounded border-2 border-indigo-500/75">        
        <p class="text-2xl text-[#af1e1e] font-semibold mb-2">Oops! An Error Occurred!</p>   
        <p>{{ message }}</p>       
    </div>    

{% endblock %}
