{% extends 'base.html.twig' %}

{% block title %}All Movies{% endblock %}

{% block body %}
<h1>Test</h1>
<div>
    <a href="{{ path('app_index') }}">Main Page</a>
</div>
<div>
    {% if movies|length > 0 %}
        {% for movie in movies %}
            <div>
                {{ movie.title }}
            </div>
        {% endfor %}
    {% else %}
        There's nothing here yet!
    {% endif %}
</div>
{% endblock %}
