{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
<div>{{ form_errors(form)}}</div>



<div>
    <button 
        type="submit"
        class="block dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded border">
        Save!
    </button>
</div>
{{ form_end(form) }}