<div class="relative" data-te-dropdown-ref>
    <a
        class="inline-flex items-center px-3 transition duration-200"
        href="#"
        id="dropdownMenuFavourites"
        data-te-dropdown-toggle-ref
        aria-expanded="false">
        Favourites
        <span class="ml-1 w-2">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="h-5 w-5">
                <path
                    fill-rule="evenodd"
                    d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                    clip-rule="evenodd">
            </svg>
        </span>
    </a>
    <ul
        class="absolute float-left m-0 hidden min-w-max list-none overflow-hidden rounded bg-[#708090] text-left text-white [&[data-te-dropdown-show]]:block"
        aria-labelledby="dropdownMenuFavourites"
        data-te-dropdown-menu-ref>
        <li>
        <a
            class="block w-full whitespace-nowrap px-4 py-2 text-sm font-normal bg-gradient-to-r from-indigo-600 text-[#031e49] hover:text-white active:no-underline disabled:pointer-events-none"
            href="{{ path('app_show_top_ten') }}"
            data-te-dropdown-item-ref>
            TOP 10 Movies
        </a>
        </li>
        <li>
        <a
            class="block w-full whitespace-nowrap px-4 py-2 text-sm font-normal bg-gradient-to-r from-indigo-600 text-[#031e49] hover:text-white active:no-underline disabled:pointer-events-none"
            href="{{ path('app_show_top_five') }}"
            data-te-dropdown-item-ref>
            TOP 5 Tv Series
        </a>
        </li>
    </ul>
</div>