{% extends 'base.html.twig' %}

{% block title %}Main Page!{% endblock %}

{% block body %}
<div class="bg-black">
    <h2>Moja Filmoteka!</h2>
    <div>
        There will be stuff here in the future!
    </div>
    <div>
        {{ include('api/_search_form.html.twig') }}
    </div>
    <div class="text-3xl my-6">Upcoming:</div>
    <div class="flex justify-center">    
        <div class="grid grid-cols-3">
            {% for value in data|slice(0, 3) %}            
            <div class="inline-flex flex-row">
                <div>
                    <div class="relative h-64 w-40">
                    {% if value.image != null %}
                        <a href="{{ path('app_details', { 'id': value.id }) }}"><img class="absolute w-full h-full inset-0 object-cover" src="{{ value.image }}" alt="Cover"></a>
                    {% else %}
                        <a href="{{ path('app_details', { 'id': value.id }) }}"><img class="absolute w-full h-full inset-0 object-cover" src="/img/clapper.jpg" alt="No cover"></a>
                    {% endif %}
                    </div>
                </div>                
                {% if loop.last == false %}            
                <div class="flex items-center">
                    <div>
                        <div class="mx-6 h-32 min-h-[1em] w-px self-stretch bg-gradient-to-tr from-transparent via-neutral-500 to-transparent opacity-20 dark:opacity-100"></div>
                    </div>
                </div>
                {% endif %}
            </div>        
            {% endfor %}        
        </div>     
    </div>
</div>
{% endblock %}