{% extends 'base.html.twig' %}

{% block title %}MFC: Create and Manage Your Own Film Library{% endblock %}

{% block footer %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <script src="/js/hideClearButton.js"></script>
    {% endif %}
{% endblock %}

{% block body %}
    <div>
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="flex flex-col 2xl:flex-row">
                <div class="sm:flex justify-center md:shrink-0 2xl:w-auto 2xl:h-fit mx-1.5 md:mx-auto">
                    <img class="rounded border-2 border-[#708090]" src="/img/library.jpg" alt="Film Library">
                </div>
                <div class="flex items-center my-10 mx-1.5">
                    <div class="text-slate-400 rounded border-2 border-indigo-500/75 p-2">
                        <p class="text-lg md:text-2xl text-center underline decoration-2 mb-5">Hello there my fellow movie fan!</p>
                        <p class="md:text-lg text-justify">On this website you can create your own film library with additional feature of creating your top best movies and TV series!</p>
                        <p class="md:text-lg text-justify">Search Internet Movie Database (<a href="https://www.imdb.com/" target="_blank" class="hover:text-indigo-500 hover:underline decoration-1">IMDb</a>) for title and add it to your collection (or you can add title manually)! This way your library will grow in no time!</p>
                        <p class="md:text-lg text-justify">There you can write and save reviews, compare IMDb title rating with yours, filter titles and much more...</p>
                    </div>
                </div>            
            </div>
        {% else %}
            <div>{{ include('api/_search_form.html.twig') }}</div>
            <div class="text-xl md:text-2xl lg:text-3xl ml-1.5 md:ml-0 my-6">Upcoming:</div>
            <div class="flex justify-center ml-1.5 mb-5">    
                <div class="grid grid-cols-3">
                    {% for value in data|slice(0, 3) %}
                        <div class="inline-flex flex-row">                                                       
                            <div>                                
                                <div class="relative h-40 w-24 lg:h-64 lg:w-40">
                                    {% if value.image != null %}
                                        <a href="{{ path('app_details', { 'id': value.id }) }}"><img class="absolute w-full h-full inset-0 object-cover" src="{{ value.image }}" loading="lazy" alt="Cover"></a>
                                    {% else %}
                                        <a href="{{ path('app_details', { 'id': value.id }) }}"><img class="absolute w-full h-full inset-0 object-cover" src="/img/clapper.jpg" loading="lazy" alt="No cover"></a>
                                    {% endif %}
                                </div>
                            </div>                
                            {% if loop.last == false %}            
                                <div class="flex items-center">
                                    <div>
                                        <div class="mx-6 h-32 min-h-[1em] w-px self-stretch bg-gradient-to-tr from-transparent via-neutral-500 to-transparent opacity-20 dark:opacity-100"></div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>        
                    {% endfor %}        
                </div>     
            </div>
        {% endif %}
    </div>
{% endblock %}