<form id="searchTitleForm" action="{{ path('app_search') }}" method="POST">
    <div class="relative">        
        <div class="absolute top-0 left-0 flex items-center ml-2 mt-3">
            <button 
                type="submit"
                class="text-slate-400 hover:text-slate-200">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z">
                </svg>
            </button>
        </div>
        
        <div class="absolute top-0 right-0 flex items-center mr-40 mt-3">
            <button 
                type="button"
                class="hidden text-white bg-[#586674] rounded-lg"
                id="clearInputBtn"
                onclick="document.getElementById('searchInput').value = '';document.getElementById('clearInputBtn').classList.add('hidden')">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                    <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd">
                </svg>
            </button>
        </div>                
        
        <div class="flex items-center gap-2">
            <div class="flex-auto">
                <input
                    type="text"
                    id="searchInput"
                    class="w-full text-slate-200 rounded-md border-2 border-[#708090] bg-gradient-to-r from-indigo-700 to-indigo-400 outline-none focus:border-slate-300 hover:border-slate-400 p-2 pl-10 mt-1 mb-2"
                    placeholder="Search title"
                    name="search"
                    oninput="document.getElementById('searchInput').addEventListener('input', function() {
                        if (this.value.length != 0) {
                            document.getElementById('clearInputBtn').classList.remove('hidden')
                        } else document.getElementById('clearInputBtn').classList.add('hidden')
                    });"
                    required
                >
            </div>
            
            <div>
                <button 
                    type="button"
                    id="showHideFiltersBtn"
                    class="group relative flex items-center text-xs uppercase leading-normal text-indigo-400 tracking-wide w-36 p-2 mt-1 mb-2 border-2 border-[#778899] rounded transition hover:text-white hover:bg-gradient-to-r from-indigo-600"
                    data-te-collapse-init
                    data-te-collapse-collapsed
                    data-te-target="#searchFilters"
                    aria-expanded="false"
                    aria-controls="searchFilters">
                    <span class="ml-1 h-5 w-5 shrink-0 rotate-[-180deg] transition-transform duration-200 ease-in-out group-data-[te-collapse-collapsed]:me-0 group-data-[te-collapse-collapsed]:rotate-0 motion-reduce:transition-none [&>svg]:h-6 [&>svg]:w-6">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            class="h-5 w-5">
                            <path
                                fill-rule="evenodd"
                                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                clip-rule="evenodd">
                        </svg>
                    </span>
                    <p class="ml-5">Filters</p>
                </button>
            </div>
        </div>
        
        <div class="!visible hidden mt-2" id="searchFilters" data-te-collapse-item>
            <div class="relative text-[#708090] mb-4">
                <div class="inline-block font-light border-2 border-[#708090] w-80">
                    <select name="titleType" id="titleType" data-te-select-init data-te-select-placeholder="Title type">
                        <option value="movie">Movie</option>
                        <option value="musicVideo">Music Video</option>
                        <option value="podcastEpisode">Podcast Episode</option>
                        <option value="podcastSeries">Podcast Series</option>
                        <option value="short">Short</option>
                        <option value="tvEpisode">TV Episode</option>
                        <option value="tvMiniSeries">TV Mini Series</option>
                        <option value="tvMovie">TV Movie</option>
                        <option value="tvSeries">TV Series</option>
                        <option value="tvShort">TV Short</option>
                        <option value="tvSpecial">TV Special</option>
                        <option value="video">Video</option>
                        <option value="videoGame">Video Game</option>
                    </select>
                </div>
            </div>

            <div>
                <div class="block font-medium text-[#708090] tracking-wide mb-0.5">Release date (*only years)</div>
                <input 
                    type="number"
                    class="text-slate-200 w-20 rounded-sm border-2 border-[#708090] bg-gradient-to-r from-indigo-700 to-indigo-400 px-1.5 py-0.5 outline-none focus:border-slate-300 hover:border-slate-400"
                    id="startYear"
                    name="startYear"
                    min="1900"
                    max="3000"
                >
                <div class="inline-block text-[#708090] mx-2">-</div>
                <input 
                    type="number"
                    class="text-slate-200 w-20 rounded-sm border-2 border-[#708090] bg-gradient-to-r from-indigo-700 to-indigo-400 px-1.5 py-0.5 outline-none focus:border-slate-300 hover:border-slate-400"
                    id="endYear"
                    name="endYear"
                    min="1900"
                    max="3000"
                >
            </div>

            <div class="flex justify-center">
                <button
                    type="reset"
                    class="font-medium text-xs text-slate-200 uppercase tracking-wider border-2 border-[#708090] hover:text-indigo-500 hover:border-indigo-500/75 rounded-md px-3 py-1"
                    onclick="hideClearBtn()"
                    >Reset filters
                </button>
                <button 
                    type="submit"
                    class="flex items-center font-bold text-xs text-indigo-400 uppercase leading-normal tracking-wide ml-3 px-3 py-1 border-2 border-[#778899] rounded transition duration-150 ease-in-out hover:text-white hover:bg-gradient-to-r from-indigo-600">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="me-1 w-4 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z">
                    </svg>
                    Search
                </button>
            </div>

            <div>
                <hr class="mt-9 h-0 border border-t-0 border-solid border-neutral-700 opacity-25 dark:border-neutral-200">
            </div>
        </div>       
    </div>
</form>
