{% extends 'base.html.twig' %}

{% block title %}Find - MFC{% endblock %}

{% block body %}
    <div>{{ include('api/_search_form.html.twig') }}</div>    
    <div class="text-slate-200 mt-2">Search title by typing a word or phrase in the search box or add the title manually <a href="{{ path('app_form_add_title_manually')}}" class="hover:text-indigo-500 hover:underline decoration-1">here</a>.</div>
{% endblock %}